In [1]:
import pandas as pd

# Specify the file path
file_path = "../../data/translated_comments.xlsx"

# Load the Excel file into a DataFrame
df = pd.read_excel(file_path)

In [2]:
# Load a specific sheet named 'Sheet1'
df = pd.read_excel(file_path, sheet_name='Sheet1')

In [3]:
df.head()

            Comment Id                            Comment
0  7221188022045099008                     rashmika වාසිය
1  7221178613064123392                  rashmika වෙගී ade
2  7221176459355882496                              සාරංග
3  7333542921793094656              ඉස්සරහට නිලියක් ශුවර්
4  7221231966270751744  rashmika මතකේ una..eya වාසිය ටිකක

In [4]:
# Get the row count
row_count = df.shape[0]

print("Row count of the DataFrame:", row_count)

Row count of the DataFrame: 14017

In [5]:
# Find null values in the "Comment" column
null_comments = df[df['Comment'].isnull()]

# Display null values in the "Comment" column
print("Null values in the 'Comment' column:")
print(null_comments)

Null values in the 'Comment' column:
                Comment Id Comment
44     7221177654576825344     NaN
45     7221176223815713792     NaN
48     7243025175670604800     NaN
50     7224778042249839616     NaN
52     7223030238438032384     NaN
...                    ...     ...
13813  7304609734580945920     NaN
13814  7301703176813511680     NaN
13815  7294979703093068800     NaN
13816  7294296586959471616     NaN
13890  7292693117953934336     NaN

[3122 rows x 2 columns]

In [6]:
# Drop rows with null values in the "Comment" column
df = df.dropna(subset=['Comment'])

In [7]:
# Get the row count
row_count = df.shape[0]

print("Row count of the DataFrame:", row_count)

Row count of the DataFrame: 10895

In [9]:
# Specify the file path for the new file
output_file_path = "../../data/finale_dataset_v1.xlsx"

# Save the DataFrame to a new Excel file
df.to_excel(output_file_path, index=False)

print("DataFrame saved to", output_file_path)

DataFrame saved to ../../data/finale_dataset_v1.xlsx